<!-- views/calculateresult.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title>Calculated Result</title>
    <style>
        span { color: red; }
        h1 {
            text-align: center;
        }
         h3 {
            text-align: center;
        }
        body {
            background-color: #66b2ff;
        }
    </style>
</head>

<body>
<h1>Your Weight/Type Result</h1><br>
    <h3>Weight: <%= weight %></h3>
    <h3>Mail: <%= mail %></h3>
    <h3>Result: <span><%= theResult %></span></h3>
</body>

</html>
