<!DOCTYPE html>
<html>
<head>
  <title>Helping Hand</title>
    <script src="./index.js"></script>
</head>
<body>
  <h1>Helping Hand</h1>

  <div id="inputList">
     <label for="addList">Add To List:</label><br>
     <input type="text" name="addList"><br>
     <button>ADD</button>
    </div><br><br>
    <div id="outputList"></div>

    <div id="inputComment">
      <label for="addComment">Add Comment</label><br>
      <textarea id="addComment" name="addComment"></textarea><br>
      <input type="button" name="addComment" onclick="storeComment()">
    </div>

</body>
</html>